.element__btn {
  padding: 0;
  margin-bottom: 3px;
  border: 0;
  background: center no-repeat url(../../../images/like-icon.svg);
  width: 22px;
  height: 19px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.4s linear;
}

.element__btn:hover {
  opacity: 0.5;
}