.profile__info-edit {
  background: center/10px 10px no-repeat url(../../../images/pencil-icon.svg);
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.4s linear;
  margin: 16px 0 0 18px;
}

.profile__info-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 450px) {
  .profile__info-edit {
    max-width: 18px;
    max-height: 18px;
    margin: 8px 0 0 10px;
  }
}