.logo {
  display: block;
  background: center no-repeat url(../../images/logo.svg);
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 900px) {
  .logo {
    margin-left: 8px;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    background-size: 103.74px 24.4px;
  }
}